* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    text-decoration: none;
    /* font-family: "Cormorant Upright", serif; */
    font-family: "Open Sans", sans-serif;
}
body {
    background-color: #ccc;
}
.conteier {
    width: 100%;
    height: 100%;
}
.conteier header nav {
    width: 100%;
    height: 80px;
    border: 1px solid transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;

}
.conteier header {
    width: 100%;
    height: 600px;
    background-color: #0C0B08;
}
.conteier header nav .navLinks ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.conteier header nav .logo img {
width: 130px;
}
.conteier header nav .navLinks ul li a {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
}
.conteier header nav .login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.conteier header nav .login span {
    height: 40px;
    display: block;
    border-left:1px solid  ;
}
.conteier header nav .login a {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}